
@media screen and(min-width:(900px)){
.bread-items{
    font-size:10%;
}
  .bread-icon{
      margin-top: 16px;
      display:block;
      color: red;
  }
}


.bread-items{
  text-decoration: underline;
   list-style-type: none;
   display: inline;
   margin-left: 2%;
   font-size: 12px;
   
 }
.bread-container{
    height: 20px;
}