


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    
   
   
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
      }
      .whole_container{
          background-color:#707070;
           color:#ffff;
           height: 8.5vh;
          
          
      }
    ::placeholder{
        font-size: 10.8px;
        height: 100%;
        color: #fff;
        width: fit-content;
        margin-right: 10px;
       
    }
    
   .choicebar-icon{
       font-size: 2.6vmin;
   }
   
    
    .search_input{
        height: 8.5vh;
        border:none;
        outline: none;
        background-color: #707070;
        width: 100%;
        color: #fff;
    }
    .search_submit_button{
        height: 8.5vh;
        background-color: #707070;
      
    }
    
    .search_icon{
        margin-top: 8%;
        margin-left: -11px;
        font-size: 18px;

    }
    .category_button_choiceBar:hover{
       
      
        
        width: 100%;
        text-decoration: none;
       

    }
    .search-engine{
        background-color: #fff;
        color: #222;
        display: inline-flex;
        text-align: center;
        text-justify: center;
        align-items: center;
     
    }
    #category_button_choiceBar_service:hover{
       
      
      
      
        text-decoration: none;
       text-decoration-color: "";
        

    }
    .hide_search_text{
       
    }
    .research{
       outline: none;
    }
    .back{
        background-color: gray;
       
    }
    .search_hidden{
    
    }
    .cont{
        border-right: 1px solid #fff;
        font-size: 11.8px;

    }
    .profil{
        font-size: 11px;
        background-color: #fff;
        color:#222;
       
    }
    .services-button{
        font-size: 19px;
        
        text-align: center;
        

    }
    .profil-text{
        margin-top: 11%;
    }
    .service-subtitle{
        font-size: 11px;
        display: block;
        text-align: center;
    }
    .service-title{
        font-size: 12px;
        display: inline-block;
        margin-top: 15px;
       
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .search_hidden{
        
         border: none;
         text-decoration: none;
    }
  
  .research{
      outline: none;
   }
   .hide_icon{
       display: none;
   }
  ::placeholder{
      font-size: 16px;
  }
  .container{
      font-size: 2vh;
       
      height: 100px;
      word-wrap: break-word;
      
  
  }

  .back{
      width: 400px;
      background-color: #ffff;
  }
 
  .search{
    z-index: 1;
   
    height: 20px;

    
    outline: none;
    margin-top: 5%;
    width: 95%;
  
    height: 50px;
    background-color: #eee;
    margin-left: 5%;
    text-align: center;
    text-justify: center;
    align-items: center;
    display: inline-flex;
  }
  .search_input{
     
      
      outline: none;
      background-color: #eee;
     
  }
  
  
  .search_icon{
      
      font-size: 30px;
    
      color: #E5112F;
      display: block;
      margin-right: 3%;
   
      

  }
 
  .cont{
   margin-top :4%;
  
   
  margin-left: 10%;
  
   height: 7vh;
   border-radius: 10px;
   width:30vw;
   text-align: center;
   font-size: 16px;
   border:1px solid;
  
   line-break: loose;
   color: #fff;
   background-color: #E5112F;
  }
  .service-subtitle{
      font-size: 13px;
      display: block;

      margin-left: 12%;
  }
  .service-title{
      font-size: 15px;
      display: inline-block;
      margin-top: 15px;
     
      
     
     
  }
  .choiceBarHelper{
      font-size: 20px;
      margin-left: 19%;
      
  }
  .choiceBarHelperContainer{
      text-align: center;
      margin-top: 3%;

  }
 
  .category_button_choiceBar{
     width: 86%;
  
  }
  
  
  .profil{
 
      text-align: center;
      margin-top: 5%;
  }
  .profil-text{
    
     font-size: 2.3vh;
      
  }
  #direct-acces{
      background-color: #fff;
      color: #000;
      
  }
  .choiceBarItemText{
     margin-left: 5%;
  }
  #category_button_choiceBar_service{
      background-color: #fff;
      color: #000;
  }
  .choisebar_process_name{
      display: block;
    
    width: 100%;
    text-align: center;
  }
  .category_button_choiceBar_service{
      border:none;
  }
}
@media screen and (min-width: 601px) and (max-width:899px){

   #choiseBar{
       display: none;
   }
   .category_button_choiceBar{
    width: 60%;
    border:1px solid;
    border-radius: 10px;
    height: 80px;
    
    margin-left: 20%;
    margin-bottom: 3%;
    font-size: 26px;
    background-color: #E5112F;
    color: #fff;
  text-align: center; 
   }
   .item{
       margin-top:3%;
       display: block;
       width: 100%;
   }
   .profil,.acces_direct {
       margin-top: 4%;
       width: 60%;
     
      
       height: 80px;
       text-align: center;
       margin-left: 20%;
       margin-bottom: 3%;
       font-size: 35px;
       color:#000;
   }
   .service-subtitle{
       display: block;
       margin-left: 20%;
       font-size: 24px;
   }
   .search_input{}
   .search{
     
       height: 80px;

       color: #E5112F;
       outline: none;
       margin-top: 5%;
       margin-bottom: 5%;
       width: 60%;
     
       height: 50px;
       background-color: #eee;
       margin-left: 20%;
      
   }

   .search_input{
     
      
    outline: none;
    background-color: #eee;
   margin-left: 10%;
}

.search_submit_button{
   
   
    
  
}

.search_icon{
    
    font-size: 33px;
    background-color: #E5112F;
    color: #fff;
    display: block;
    padding-top: 1.5%;
 
    

}
#search_icon-size{
    display: block;
    padding-right: 50px;
    background-color: #E5112F;
    font-size: 100px;
  
}
::placeholder{
    font-size: 26px;
}
}