
  

  
 
  
  
  @media screen and (min-width: 900px) {
  
    .pos{
        position: fixed;
       
    }
    .bread{
      margin-right: 100em;
    }
  .active {
  
    color: #FFF;
    
    height: 10vh;
      width: 34vw;
    border-radius: 10px;
    text-decoration: none;
    background-color:rgb(34, 49, 78);
    display: block;
   
    
  }
  .c{
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
 
  .section_text{
   display: inline-block;
    margin-top: 2%;

  }
  .mobile-only-title{
    margin-right: 100em;
  }
  .item-text{

  
  }
  .chevron_icon{
   
  }
  
  .container_title{
      font-size: 20px;
      margin-top: 3%;
    
  }
  .container_icon{
     margin-left: 1%;
     
  }
  .section-items{
      border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 10vh;
      width: 34vw;
      border-radius: 10px;
      
  }
  
  .process_title{
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
  }
     
  
 
#first-item{
    margin-top: 10%;
}
.process_item{
    border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 10vh;
      width: 40vw;
      border-radius: 10px;

}

.bread{
    width:50%;
    margin-left: 45%;
    

}
.inactive,#inaction{
  display: block;
  height: 10vh;
  width: 34vw;
  text-decoration: none;
  
}
.nav-position{
  position: sticky;
  z-index: 1;
  width: inherit;


 }
 .mobile-only-title{
  position: fixed;
}
  }
  @media screen and (max-width:600px) {
  .nav-position{
   position: fixed;
   z-index: 1;

  }
  .left-side{
   
  }
  .processes{
    
    width: 100%;
    margin-top: 300px;
   
    
  
  }
  .n{
    background-color:#E5112F;
  }
  .mobile-only-title{
    
    z-index: 1;
 
    background-color: white;
    width: 100%;
    margin-top: -6%;
    height: auto;
    color:#000
  }
  .pos{
    
    display: none;
   
  }
  .bread{
   position: relative;
   position: fixed;
   margin-top: 18%;
   z-index: 1;
  }
  .desk-title{
    display: none;
  }
  .process_title{
    font-size: 3vh;
    
    margin-bottom: 4%;
    margin-top: 3%;
    color: #000;
  }
  .container_title{
    font-size: 20px;
  }
  .process_item{
    border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 45px;
      width: 290px;
      
      
     display: inline-block;
     
    
     background-color: #fff;
     color: #000;

}


.active {
  
  color: #FFF;
  
  height: 40px;
  border-radius: 10px;
  text-decoration: none;
  background-color:rgb(34, 49, 78);
  display: block;
 
  
}
.c{
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.section_text{
 display: inline-block;
  margin-top: 2%;
  

}
.section-mobile-section{
 
 margin-top: -3em;
}

.section-items{
  border:1px solid;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 3%;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  
}
.inactive{
  display: block;
  height: 40px;
  text-decoration: none;
  color:#000
}
.item-text{


}


  }

  @media only screen and (max-width:899px) and (min-width :601px) {
    
    .tablet-nav{
     position: fixed;
    }
    .mobile-only-title{
     position: fixed;
    }
   .tablet-title{
     font-size: 20px;
  
     
   }
   .section-desk-section{
     position: fixed;
     margin-top: 50px;
   }
 
  .process_title{
    font-size: 3vmin;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
  }

  .active {
  
    color: #FFF;
    
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    background-color:rgb(34, 49, 78);
    display: block;
    width: 300px;
   
    
  }
  
  .process_item{
    border:1px solid;
      text-align: left;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 45px;
      width: 290px;
      
      
     display: inline-block;
    
     background-color: #fff;
     color: #000;

}
  
.inactive{
  display: block;
  height: 40px;
  text-decoration: none;
  color:#000
}
  }
 