 
  @media screen and (min-width: 900px) {
    .section-position{
      margin-top: 5%;
    
    }
    .container-footer{
      margin-top: 10%;
    }
   .sections{
   
   }
    
  }
  @media screen and (max-width:600px) {
  
  }

  @media only screen and (max-width:899px) and (min-width :601px) {
    
    .tablet-nav{
     position: fixed;
    }
    .mobile-only-title{
     position: fixed;
    }
   .tablet-title{
     font-size: 20px;
  
     
   }
   .section-desk-section{
     position: fixed;
     margin-top: 50px;
   }
 
  .process_title{
    font-size: 3vmin;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
  }

  .active {
  
    color: #FFF;
    
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    background-color:rgb(34, 49, 78);
    display: block;
    width: 300px;
   
    
  }
  
  .process_item{
    border:1px solid;
      text-align: left;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 45px;
      width: 290px;
      
      
     display: inline-block;
    
     background-color: #fff;
     color: #000;

}
  
.inactive{
  display: block;
  height: 40px;
  text-decoration: none;
  color:#000
}
  }
 