
  

  
 
  
  
  @media screen and (min-width: 900px) {

    .pos{
        position: fixed;
        
       
    }
    .bread{
      margin-right: 100%    }
  .active {
  
    color: #FFF;
    
    height: 8.7vh;
      width: 34vw;
    border-radius: 10px;
    text-decoration: none;
    background-color:#666;
    display: block;
   
    
  }
  .process-text-icon{
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-justify:center;
     
    margin-top: 4%;
  }
 
  .section_text{
   display: inline-block;
    margin-top: 2%;

  }
  .mobile-only-title{
    margin-right: 100em;
  }
  .item-text{

  
  }
  .chevron_icon{
   
  }
  
  .container_title{
      font-size: 3vmin;
      margin-top: 3%;
    
  }
  .container_icon{
     margin-left: 1%;
     font-size: 3vmin;
     
  }
  .section-items{
      border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 8.7vh;
      width: 34vw;
      border-radius: 10px;
      font-size: 2.7vmin;
      display: block;
      
  }
  
  .process_title{
    font-size: 3vmin;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
  }
     
  
 
#first-item{
    margin-top: 10%;
}
.process_item{
    border:1px solid;
      text-align: left;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 11vh;
      width: 38vw;
      border-radius: 10px;
      font-size:15px;

}

.bread{
    width:50%;
    margin-left: 45%;
    

}
.inactive,#inaction{
  display: block;
  height: 8.7vh;
  width: 34vw;
  text-decoration: none;
  
}
.nav-position{
  position: sticky;
  z-index: 1;
  width: inherit;


 }
 .mobile-only-title{
  position: fixed;
}
     .sections{
        border-left: solid 1px;
        
     }
     .processes-position{
       
      margin-bottom: 10%;
     }
     .title{
         margin-left: 4%;
     }
     .scroll-bar{
       /* overflow-y:scroll;*/
        
        
     }
     
     .section-position{
       transform: none;
       
    }
    
     .phone-processes{display:none}
     .desk-bread{
        
        
         background-color: #FFF;
         margin-bottom: 3%;
        
     }
     .bread-text{
        
         background-color: #fff;
     }
     .desk-nav{
      
    }
    .phone-processes{
        display: none;
    }
    .subcontainer_name{
      font-size: 20px;
    }
    
  }
  @media screen and (max-width:600px) {
    .section-position{
        position: fixed;
      
        
        background-color: white;  
        margin-top: 85px;
        width: 100%;
        
       
    
    }
    .sections{
        z-index: 3;
     height: fit-content;
    
     
    }

    .title{
       
      background-color: white;
      width: 100%;
     
      display: block;
      
      text-align: center;
     
      margin-top: -50px;
      
  }
    .desk-bread{
        background-color: white;
        padding-top: 20%;
        width: inherit;
        height: 50px;
      

       


    }
    .process_item{
        height: 90px;
        border:1px solid;
        margin-top: 2%;
        font-size: 17px;
       list-style-type: none;
       width: 300px;
       border-radius: 10px;
      margin-right: 40px;
     

    }
    .process-text-icon{
      margin-top: 3%;
    }
    .processes-position{
       height: fit-content; 
       margin-top: 460px;
     
    }
    .process_title{
    
     font-size: 20px;
     margin-left: 20%;
     font-weight: bold;
    }
    .process-section-title{
      font-size: 19px;
     margin-left: 26%;
     font-weight: bold;
      
    }
    .processes{
        
       
    }
    .cont-container{
       
    }


    /* sections*/

    .section-items{
      border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 40px;
      width: 300px;
      border-radius: 10px;
      font-size: 20px;
      display: block;
      margin-top: 5%;
     
      
  }
  .nav-position{
    width: 100%;
  }
  /*footer style */
  .container-footer{
    margin-top: 10%;
  }
  }

  
  
  @media screen and (max-width: 899px) and (min-width: 601px){
    



    .pos{
        position: fixed;
        
       
    }
    .bread{
      margin-right: 100%    }
  .active {
  
    color: #FFF;
    
    height: 8.7vh;
      width: 34vw;
    border-radius: 10px;
    text-decoration: none;
    background-color:#666;
    display: block;
   
    
  }
  .process-text-icon{
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-justify:center;
     
    margin-top: 4%;
  }
 
  .section_text{
   display: inline-block;
    margin-top: 2%;

  }
  .mobile-only-title{
    margin-right: 100em;
  }
  .item-text{

  
  }
  .chevron_icon{
   
  }
  
  .container_title{
      font-size: 3vmin;
      margin-top: 3%;
    
  }
  .container_icon{
     margin-left: 1%;
     font-size: 3vmin;
     
  }
  .section-items{
      border:1px solid;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 8.7vh;
      width: 34vw;
      border-radius: 10px;
      font-size: 2.7vmin;
      display: block;
      
  }
  
  .process_title{
    font-size: 3vmin;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
  }
     
  
 
#first-item{
    margin-top: 10%;
}
.process_item{
    border:1px solid;
      text-align: left;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 3%;
      height: 150px;
      width: 38vw;
      border-radius: 10px;
      font-size:22px;

}

.bread{
    width:50%;
    margin-left: 45%;
    

}
.inactive,#inaction{
  display: block;
  height: 8.7vh;
  width: 34vw;
  text-decoration: none;
  
}
.nav-position{
  position: sticky;
  z-index: 1;
  width: inherit;


 }
 .mobile-only-title{
  position: fixed;
}
     .sections{
        border-left: solid 1px;
        
     }
     .processes-position{
       
      margin-bottom: 10%;
     }
     .title{
         margin-left: 4%;
         margin-bottom: 10%;
     }
     .section-1{
       margin-top: 22%;
     }
     .scroll-bar{
       /* overflow-y:scroll;*/
        
        
     }
     
     .section-position{
       transform: none;
       
    }
    
     .phone-processes{display:none}
     .desk-bread{
        
        
         background-color: #FFF;
         margin-bottom: 3%;
        
     }
     .bread-text{
        
         background-color: #fff;
     }
     .desk-nav{
      
    }
    .phone-processes{
        display: none;
    }
    .subcontainer_name{
      font-size: 20px;
    }
    
  }