@media screen and (min-width: 700px) {
.homepage_button{
    display: block;
}
.state_containers{
    width: 95%;
    margin-bottom: 2%;
    margin-top: 2%;
    
}
.category_title{
    margin-bottom: 3%;
    margin-top: 3%;

}
.local_containers{
    width: 95%;
    margin-top: 2%;
}
.category_button{

    width: 30%;
    height: 90px;
    margin-left: 3%;
    margin-top: 1%;
    background-color: #E5112F;
    color:#FFF;
}
.line{
    height: 3px;
}
.name{
    font-size: 17px;
}
.description{
    font-size: 12px;
}

}
.bread{
    height: 5%;
}
