@media screen  {
    
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    .page_title{
     
        border-right: #FFF 1px solid;
        background-color: #FFF;
        color: #E5112F;
    }
    #title-simplici{
        text-align: center;
    }
    .col_margin{
        background-color: #E5112F;
        border: #FFF 1px solid;
        color: #fff;
        
        
    }
    .navbarspan{
        display: block;
    }
   
    .page_title{
        font-size: 30px;
        border:1px solid;
        border-color: #FFF;
    }
    
    ::placeholder{
        font-size: 12px;
    }
    
    #menu-container{
      
    }
    
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .page_title{
     
        border-right: #FFF 1px solid;
        background-color: #FFF;
        color: #E5112F;
    }
    #title-simplici{
        text-align: center;
    }
    .col_margin{
        background-color: #E5112F;
        border-right: #FFF 1px solid;
        color: #fff;
        font-size: 12px;
        

    }
    .navbarspan{
        display: block;
    }
    .accessibility_text{
        font-size: 8.8px;

    }
   
    .page_title{
        font-size: 20px;
    }
    
    ::placeholder{
        font-size: 12px;
    }
    
    #menu-container{
      
    }
    
  }
  
