@media screen and (min-width: 600px) {   
.navbar-container{
        background-color: #E5112F;
       
    }
    .nav_button{
        background-color: #E5112F;
       
        width: 12%;
        color:#fff;
    }
    .nav_button{
        
       
        width: 12.5%;
        color:#fff;
        border-right: solid 1px;
    }
    .nav_tool_button{
        width: 8%;
        background-color: #E5112F;
        text-align: center;
        color:#fff;
        border-right: solid 1px;
      
       
    }
    .navbar-retour-icon{
       display: block;
       margin-left: 36%;
       font-size: 33px;
    
    }
    .navbar-home-icon{
        font-size: 33px;

    }
    .navbar-icon{
        display: block;
        margin-left: 29%;
        font-size: 33px;
       
    
    }
    .page_title{
        width: 50%;
        background-color: #FFF;
        color:#E5112F;
        text-align: center;
      
        align-items: center;
        display: inline-flex;
        border-right: 1px solid;
    }
    .title-simplici{
        text-align: center;
        width: 100%;
        font-size: 35px;
    }
    
}