@media screen and (min-width: 900px) {   
    .navbar-container{
            background-color: #E5112F;
           
        }
        .nav_button{
            background-color: #E5112F;
           
            width: 12%;
            color:#fff;
        }
        .nav_button{
            
           
            width: 12.5%;
            color:#fff;
            border-right: solid 1px;
        }
        .nav_tool_button{
            width: 8%;
            background-color: #E5112F;
            text-align: center;
            color:#fff;
            border-right: solid 1px;
          
           
        }
        .navbar-retour-icon{
           display: block;
        
           font-size: 33px;
        
        }
        .navbar-home-icon{
            font-size: 33px;
    
        }
        .navbar-icon{
            display: block;
           
            font-size: 33px;
           
        
        }
        .page_title{
            width: 50%;
            background-color: #FFF;
            color:#E5112F;
            text-align: center;
          
            align-items: center;
            display: inline-flex;
            border-right: 1px solid;
        }
        .title-simplici{
            text-align: center;
            width: 100%;
            font-size: 35px;
        }
        
    }

    @media screen and (min-width: 601px) and (max-width:899px){

        .navbar-container{
            background-color: #E5112F;
           
        }
        .nav_button{
            background-color: #E5112F;
           
            width: 12%;
            color:#fff;
        }
        .nav_button{
            
           
            width: 12.5%;
            color:#fff;
            border-right: solid 1px;
        }
        .nav_tool_button{
            width: 8%;
            background-color: #E5112F;
            text-align: center;
            color:#fff;
            border-right: solid 1px;
          
           
        }
        .navbar-retour-icon{
           display: block;
           margin-left: 36%;
           font-size: 50px;
        
        }
        .navbar-home-icon{
            font-size: 50px;
    
        }
        .navbar-icon{
            display: block;
            margin-left: 29%;
            font-size: 50px;
            margin-right:  19%;
           
        
        }
        .page_title{
            width: 50%;
            background-color: #FFF;
            color:#E5112F;
            text-align: center;
          
            align-items: center;
            display: inline-flex;
            border-right: 1px solid;
        }
        .title-simplici{
            text-align: center;
            width: 100%;
            font-size: 80px;
        }
        .back_text,.home_text{
            font-size: 20px;
        }
        .menu_text{
            font-size: 22px;
            margin-left: 7%;
        }
        .accessibility_text{
            font-size: 0px;
        }
        


    }
    @media screen and (max-width: 600px){

        .navbar-container{
            background-color: #E5112F;
           
           
        }
        .nav_button{
            background-color: #E5112F;
           
            width: 22%;
            color:#fff;
           
        }
        .home_text{

            font-size: 13px;
            
           
        }
        .nav_button{
            
           
           
            color:#fff;
            border-right: solid 1px;
        
        }
        .nav_tool_button{
            width: 20%;
            background-color: #E5112F;
           
            color:#fff;
            border-right: solid 1px;
          
          
           
        }
        .navbar-retour-icon{
           display: none;
           margin-left: 30%;
           font-size: 33px;

        
        }
        .navbar-text{
            font-size: 12px;
            display: none;
        }
        .navbar-home-icon{
            font-size: 40px;
    
        }
        .navbar-icon{
            display: block;
            
            font-size: 40px;
           
        
        }
        .menu_text{
            margin-right: 50%;
            display: none;
        }
        .modenuit_text{
           margin-right: 50%;
           display: none;
        }
        .accessibility_text{
           font-size: 13px;
           
        }
      
        .modenuit_icon{
            padding-top: 6px;
            
        }
        .menu_icon{
            margin-left: 10%;
        }
        .page_title{
            width: 35%;
            background-color: #FFF;
            color:#E5112F;
            text-align: center;
          
            align-items: center;
            display: inline-flex;
            border-right: 1px solid;
            
        }
        .title-simplici{
            text-align: center;
            width: 100%;
            font-size: 20px;
        }
        .phone-back{
            display: none;
        }
        .navbar-menu{
            display: none;
        }
  .desk-bread{
      display: none;
  }
    }



