.process-global {
    display: flex;
}

.process {
    width: 70%;
    margin: auto;
}

.process_name-title {
    background-color: #E5112F;
    color: white;
    text-align: center;
}

.process-body {
    border: 10px solid;
}

.process-body-text {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.process-icon-txt {
    display: flex;
}

.process-buttons {
    display: flex;
    height: 10vh;
    width: 70%;
    margin: auto;
}

.process-buttons>div {
    flex: 1;
}

.process-button {
    background-color: #E5112F;
    color: white;
    width: 20vw;
    border-radius: 100px;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.process-scan>div {
    display: flex;
    height: 100%;
}

.process-scan>div>.process-scan-text {
    margin: 0;
    margin: auto;
    width: 70%;
}

.process-scan>div>.process-scan-icon {
    margin: 0;
    margin: auto;
}

.process-demarche {
    position: relative;
}

.process-demarche>a>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.process-demarche>a>div>p {
    text-align: center;
}

.process-demarche>a>div>.process-demarche-icon {
    margin: 0;
}

.description-icon>span {
    font-size: 50px;
}

.process_doc {
    padding-left: 5vw;
}

.process-icon {
    width: 5vw;
    text-align: center;
}

span {
    width: inherit;
}